<h1 class="container bg-primary text-center pt-3 pb-3 rounded">Quelques classiques immanquables !</h1>

<div class="container">
 <div class="row mt-3 mb-3" *ngFor="let bouquin of listeLivres">
    <app-afficher-livre class="col-sm-4 text-center pt-4 rounded"  
    [livreGenre]="bouquin.genre" [livreTitre]="bouquin.titre" [livreAuteur]="bouquin.auteur"
    [livreAnnee]="bouquin.annee" [livreNumeroISBN]="bouquin.numeroISBN" [bouquin]="bouquin"></app-afficher-livre>
  </div> 

</div>

<div class="container bg-dark rounded text-light text-center pt-2 pb-1 mt-3 fs-5">
  <p>All rights reserved - DeBock Light IT Solutions</p>
</div>